[Unit]
Description=ReachLink Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/reach/
ExecStart=/usr/bin/python3 reachlink.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
