[Unit]
Description=ReachLink Backend
After=network.target

[Service]
User=root
Group=sudo
WorkingDirectory=/etc/reach/linkbe/
ExecStart=/usr/bin/ip vrf exec vrf1 /usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 linkbe.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
